
body {
    background-color: rgb(216, 243, 234);

}

.navbar-brand img { width: 50px;}


.collapse.navbar-collapse { 
    flex-grow: inherit;
}

.navbar a { color: cornflowerblue;}

.navbar .navbar-toggler{ border-color: cornflowerblue;}

.nav-link:focus , .nav-link:hover {color: blueviolet;}

.navbar-toggler:focus { box-shadow: none;}



.imgini { width: 100%; }

@media (min-width: 570px) {.imgini { width: auto; 
height: auto;
object-fit: cover;} }

.text1 { font-size: 50px;}

@media (min-width: 720px) { .text1 { font-size: 90px;}}


.galeria { padding: 40px 0;}

@media (min-width: 520px) { .galeria { padding: 80px 120px;}}




.galeria-destacados { 
    padding: 40px 0;}

@media (min-width: 720px) { .galeria-destacados { padding: 20px;}}



.insta , .whasa , .facebu { width: 90px;}

@media (min-width: 560px) { .insta , .whasa , .facebu { width: 140px;
    
object-fit: cover;}}